doctype 5
html(lang="en")

    head
        title LiveWall
        style
            body{ background-color:#80B6E5; text-align:center; }
        script(src='/js/jquery-1.7.2.min.js')
        script(src='/js/livewall.js')
        script(type='text/javascript')
            $(function() { canvas_init(); });
        
    body
        h1 LiveWall
        #container
            canvas#main_canvas(width="800", height="500") Your browser does not support the canvas tag.